@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Lobster&display=swap');

:root {
	--header-font: "Great Vibes";
	--tittle-font: "Lobster";
	--description-font: "Chiron GoRound TC";
	--ice-cold: #a0d2eb; /* 15% */
	--freeze-purple: #e5eaf5; /* 10% */
	--medium-purple: #d0bdf4; /* 10% */
	--purple-plain: #8458b3; /* 10% */
	--heavy-purple: #494D5f; /* 55% */
}

* {
	margin: 0;
	padding: 0;
}

header h1 {
	color: var(--purple-plain);
	font-size: 8rem;
	position: absolute;
	top: 50vh;
	left: 50vw;
	translate: -50% -50%;
	font-family: var(--header-font);
}

header img {
	width: 100vw;
	height: 100vh
}

body {
	background-color: var(--heavy-purple);
}

main {
	margin: 1em auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3em;
	width: 80%;
}

section {
	width: 300px;
	background-color: var(--purple-plain);
	box-shadow: 0px 0px 10px 5px var(--purple-plain), inset 5px 5px 20px -15px var(--freeze-purple);
	padding: 10px;
	border-radius: 25px;
	position: relative;
}

section img {
	border-radius: 25px;
}

.title {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: .25em;
	font-family: var(--tittle-font);
	color: var(--freeze-purple);
}

.description {
	font-family: var(--description-font);
	font-size: 1.25rem;
	color: var(--ice-cold);
	font-weight: 600;
}

section button {
	padding: .5em;
	font-size: 1.1rem;
	border-radius: 25px;
	border: none;
	background-color: var(--medium-purple);
	color: var(--purple-plain);
	font-weight: 750;
}

.raiting, .time {
	position: absolute;
	right: 66.55px;
	bottom: 19.6px;
	color: var(--freeze-purple);
}

.time {
	right: 10px;
}

section div {
	margin-top: 10px;
}

body > label {
	position: fixed;
	right: 0;
	bottom: 0;
	translate: 10% 10%;
	width: 100px;
	height: 100px;
	font-size: 4rem;
	border: none;
	border-radius: 50%;
	background-color: var(--purple-plain);
	color: var(--freeze-purple);
	cursor: pointer;
	box-shadow: 0px 0px 10px 5px var(--purple-plain), inset 5px 5px 20px -10px var(--freeze-purple);
}

label > i {
	translate: 10% 10%;
}

#displayForm {
	display: none;
}

#form {
	opacity: 0;
	display: flex;
	position: fixed;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(315deg ,var(--medium-purple) 75%, var(--freeze-purple));
	padding: 1rem;
	border-radius: 25px;
	width: 50%;
	transition: 500ms;
	gap: 0.1rem;

	& label {
		font-family: var(--tittle-font);
		font-size: 1.5rem;
		color: var(--purple-plain);
	}

	& input, & textarea {
		width: 100%;
		height: 1.5rem;
		font-size: 1.5rem;
		text-align: center;
		border: none;
		border-radius: 5px;
		font-family: var(--description-font);
		padding: 0.2rem;
		text-wrap: wrap;
		resize: none;
	}

	& button {
		border: none;
		padding: 0.5rem;
		border-radius: 25px;
		font-size: 1.5rem;
		font-family: var(--tittle-font);
		cursor: pointer;
		background-color: var(--medium-purple);
		transition: 500ms;
	}

	& button:hover {
		background-color: var(--ice-cold);
	}

	#tittleStr {
		height: 2rem;
		font-size: 2rem;
	}

	#descriptionStr {
		height: 6rem;
	}

	& div {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		align-items: center;
		justify-content: center;

		& input {
			width: 25%;
			margin: 0 auto;
		}

		& label {
			text-align: center;
		}
	}

}

#displayForm:checked ~ #form {
	opacity: 1;
}