@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
	--header-font: "Great Vibes";
	--ice-cold: #a0d2eb; /* 15% */
	--freeze-purple: #e5eaf5; /* 10% */
	--medium-purple: #d0bdf4; /* 10% */
	--purple-plain: #8458b3; /* 10% */
	--heavy-purple: #494D5f; /* 55% */
}

* {
	margin: 0;
	padding: 0;
}

header h1 {
	color: var(--purple-plain);
	font-size: 8rem;
	position: absolute;
	top: 50vh;
	left: 50vw;
	translate: -50% -50%;
	font-family: var(--header-font);
}

header img {
	width: 100vw;
	height: 100vh
}