@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Lobster&display=swap');

:root {
	--header-font: "Great Vibes";
	--tittle-font: "Lobster";
	--description-font: "Chiron GoRound TC";
	--ice-cold: #a0d2eb; /* 15% */
	--freeze-purple: #e5eaf5; /* 10% */
	--medium-purple: #d0bdf4; /* 10% */
	--purple-plain: #8458b3; /* 10% */
	--heavy-purple: #494D5f; /* 55% */
}

* {
	margin: 0;
	padding: 0;
}

header h1 {
	color: var(--purple-plain);
	font-size: 8rem;
	position: absolute;
	top: 50vh;
	left: 50vw;
	translate: -50% -50%;
	font-family: var(--header-font);
}

header img {
	width: 100vw;
	height: 100vh
}

body {
	background-color: var(--heavy-purple);
}

main {
	margin: 1em auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3em;
	width: 80%;
}

section {
	width: 300px;
	background-color: var(--purple-plain);
	box-shadow: 5px 3px 20px var(--purple-plain);
	padding: 10px;
	border-radius: 25px;
	position: relative;
}

section img {
	border-radius: 25px;
}

.title {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: .25em;
	font-family: var(--tittle-font);
	color: var(--freeze-purple);
}

.description {
	font-family: var(--description-font);
	font-size: 1.25rem;
	color: var(--ice-cold);
	font-weight: 600;
}

section button {
	padding: .5em;
	font-size: 1.1rem;
	border-radius: 25px;
	border: none;
	background-color: var(--medium-purple);
	color: var(--purple-plain);
	font-weight: 750;
}

.raiting, .time {
	position: absolute;
	right: 66.55px;
	bottom: 19.6px;
	color: var(--freeze-purple);
}

.time {
	right: 10px;
}

section div {
	margin-top: 10px;
}